name: Final-Lab
on:
  #push:
  #  branches: [ "main" ]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: SetUp Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install boto3  
          pip install requests
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/RoleFinalLab
          aws-region: us-east-2
      - name: Deploy CloudFormation stack
        run: |
          aws cloudformation deploy \
            --template-file template.yaml \
            --stack-name coderoad-final-lab \
            --capabilities CAPABILITY_NAMED_IAM \
            --no-fail-on-empty-changeset
